@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#app {
  padding: 0px;
  margin: 0px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


/* ****START****** STYLING FOR HEADER  */
.header {
  height: 80px;
  width: 100%;
  background-color: #073b4c;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* ****END****** STYLING FOR HEADER */

/* ****START****** STYLING FOR MAIN SEARCH*/
.main {
  margin: 20px;
  padding: 0px;
  color: white;
  width: 50%;
	min-width: 700px;
  display: flex;
  flex-direction: column;
}

.search-bar {
  background-color: #2a9d8f;
  color: white;
  display: flex;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
}

.search-div {
  width: 100%;
  box-sizing: border-box;
}


input {
  height: 45px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 1.2em;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid gainsboro;
  margin-bottom: 20px;
}

textarea:focus, input:focus{
  outline: none;
}

#search-input {
  width: 80%;
}

#search {
	width: 100px;
	height: 45px;
	font-size: 1.2em;
  border:0.1em solid #FFFFFF;
  margin:  0.3em 0.3em 0;
  border-radius:0.12em;
  background-color: #073b4c;
  color: white;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

#search:hover {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.3);
  border: 1px solid gainsboro;
  color: black;
  background-color: #FFFFFF;
  cursor: pointer;
}

.search-results {
  background-color: #2a9d8f;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.box-info {
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-size: 1em;
}

.box-inner {
  min-width: 200px;
  margin-left: 10px;
  border-radius:0.12em;
  background-color: #ffff;
  color: #073b4c;
}

h3 {
  margin: 5px;
}




/* START : STYLING FOR RESULT REPO CARD */
.repo-card {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  color: black;
  box-sizing: border-box;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.repo-card:hover {
  box-shadow: 0 8px 16px 0 #535353;
  border: 1px solid gainsboro;
  cursor: pointer;
}


.repo-stats {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.repo-info {
  border: 1px solid gainsboro;
  font-size: .8em;
  font-weight: bold;
  border-radius: 3px 3px 3px 3px;
  padding: 3px 5px 3px 5px;
  margin: 5px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
}

.yellow {
  color: #ffd166;
}


.page-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

/* START : STYLING FOR FOOTER */
.footer {
  height: 80px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #073b4c;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* STYLE FOR SELECT OPTION */
.options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.option {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  font-weight: bold;
  justify-content: flex-start;
  align-items: center;
}

select {
  border-radius: 2px 2px 2px 2px;
  border: 1px solid gainsboro;
  margin-left: 5px;
  margin-right: 20px;
  padding: 2px;
}

select:hover {
  background-color: gainsboro;
}

option:hover {
  background-color: #073b4c;
  color: white;
}

/* API ERROR - handling */

.error-message {
  margin: 20px;
  color: black;
  padding: 10px;
  width: 100%;
  background-color: white;
  border: 2px solid #073b4c;
  border-radius: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}